@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Creepster:regular);
@import url(https://fonts.googleapis.com/css?family=Chicle:regular);

@font-face {
  font-family: GloomyFont;
  src: url(./Font/Gloomy-Things.ttf);
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

:root {
  --light-red: #75292e;
  --red: #e00a0b;
  --maroon: #800000;
  --orange: #f55d3a;
  --white: #ffffff;
  --blackish: #181818;
  --black: #000000;
  --darkgrey: #404040;
  --grey: #7b8381;
  --font-Gloom: GloomyFont;
  --font-Poppins: Poppins;
  --font-Creepster: Creepster;
  --font-Chicle: Chicle;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-Creepster);
  list-style: none;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

figure {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--spacer));
}

.header {
  background-color: var(--blackish);
  color: var(--white);
  font-size: 1.5em;
  padding: 0.5em;
  text-align: center;
  height: 750px;
  width: 1440px;
}

.header .logo {
  font-size: 4rem;
  font-family: var(--font-Creepster);
  color: var(--white);
  text-align: center;
  line-height: 75px;
  padding: 10px 0px 10px;
  cursor: pointer;
}

.header .logo span {
  color: var(--red);
  font-family: var(--font-Creepster);
}

.header .navbar {
  width: 100%;
  height: 140px;
  background-color: transparent;
}

.header .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .navbar ul li {
  padding: 0 1em;
  margin: 10px 30px;
}

.header .navbar ul li a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-Chicle);
  font-size: 1.5rem;
  line-height: 24px;
}

.header .navbar ul li a:hover {
  color: var(--red);
}

.header .navbar ul li a.active {
  color: var(--red);
}

.header .navbar ul li a.btn--signin {
  background-color: transparent;
  border: 1px solid var(--red);
  color: var(--white);
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: var(--font-Chicle);
}

.header .navbar ul li a.btn--signin:hover {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--white);
}

.text__box {
  margin-top: 100px;
  text-align: center;
}

.text__box .main__title {
  height: 100px;
  text-shadow: 0px 0px 25px #e00a0b, 0px 0px 25px #e00a0b, 0px 0px 25px #e00a0b;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-bottom: 4rem;
  font-family: var(--font-Creepster);
  font-size: 100px;
  line-height: 117px;
}
.text__box .main__title:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.text__box .paragraph {
  font-family: var(--font-Chicle);
  font-size: 1.8rem;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0 150px;
  margin-bottom: 30px;
}

.text__box .btn--explore {
  background-color: var(--red);
  border: 1px solid var(--white);
  color: var(--white);
  padding: 5px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--font-Chicle);
  font-size: 1.5rem;
}

.text__box .btn--explore:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--red);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.aespa-container {
  margin: 0 auto;
  text-align: center;
  background-color: var(--blackish);
  padding-bottom: 40px;
  padding-top: 40px;
}

.aespa-img {
  margin: 0 auto;
  background: url(allkpop_1660184345_20220630-aespa.jpg);
  border: 2px solid var(--light-red);
  filter: drop-shadow(0px 0px 25px #75292e) drop-shadow(0px 0px 25px #75292e)
    drop-shadow(0px 0px 25px #75292e);
}

.main-container {
  background-color: var(--black);
  width: 100%;
  height: 1130px;
}

.main-header {
  font-family: var(--font-Creepster);
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  letter-spacing: 0.1em;
  padding: 40px 0 0 0;
  color: var(--white);
  text-shadow: 0px 0px 25px #e00a0b, 0px 0px 25px #e00a0b, 0px 0px 25px #e00a0b;
}

.main-paragraph {
  font-family: var(--font-Chicle);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--white);
  width: 1096px;
  height: 99px;
  margin: 40px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-item {
  margin: 0 auto;
}
.card {
  background-color: var(--blackish);
  width: 315px;
  height: 749px;
  background: var(--black);
  border: 2px solid var(--light-red);
  border-radius: 5px;
  filter: drop-shadow(0px 0px 25px #75292e);
}

.card-item__img {
  margin: 15px;
  object-fit: cover;
  width: 280px;
  height: 584px;
  display: block;
}
.card-item__img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.card-body {
  width: 270px;
  margin: 0 auto;
  text-align: center;
}

.artist-name {
  font-family: var(--font-Creepster);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.305em;
  color: var(--white);
  margin-top: 30px;
}

.artist-name__first {
  margin-top: 30px;
  margin-bottom: 25px;
}

.band-role {
  font-family: var(--font-Chicle);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--orange);
  margin-top: 10px;
}

footer {
  position: absolute;
  background-color: var(--black);
  height: 390px;
  width: 1440px;
  text-align: center;
  padding-top: 50px;
  background-color: var(--blackish);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.facebook,
.twitter,
.telegram,
.youtube {
  width: 40px;
  margin: 40px 30px;
  cursor: pointer;
  transition: scale;
}

.email {
  font-family: var(--font-Poppins);
  border: 1px solid var(--white);
  border-radius: 5px;
  padding: 1rem 6rem;
  margin: 2rem;
  background-color: var(--white);
}
.btn--creepUs {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
  padding: 1rem 3rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--font-Poppins);
  font-size: 1.5rem;
}
.btn--creepUs:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--red);
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}
.footer__list li {
  list-style: none;
  margin: 30px 50px;
}
.footer__list li a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-Chicle);
  font-size: 1.5rem;
  text-transform: uppercase;
}
.footer__list li a:hover {
  color: var(--red);
}
.footer__copyright {
  font-family: var(--font-Chicle);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--grey);
  /* margin-top: 30px; */
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--blackish) var(--white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--white);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--blackish);
  border-radius: 10px;
  border: 3px solid var(--white);
}
